.App {
  text-align: center;
}

.App,#root,body,html{
  height: 100%;
}

.App .title {
  height: 80px;
  padding: 20px;
  background-color: aquamarine;
}

.App .title h1 {
}

.App .nav {
  position: absolute;
  width: 200px;
  background-color: aquamarine;
  height: 100%;
}

.App .nav ul li {
  border: 1px solid #ffffff;
  box-sizing: border-box;
  height: 100px;
  padding-top: 40px;
}

.App .nav ul li a {
  color: violet;
}

.App .content {
  margin-left: 200px;
  background-color:rgba(127, 255, 212, 0.3);
  height: 100%;
}

table{
  margin: auto;
  width: 100%;
  
}

table tbody td {
  padding: 10px;
  border-bottom: 1px solid floralwhite;
}

table tbody tr:first-child td{
  border-top: 1px solid floralwhite;
}

.delup {
  cursor: pointer;
}

h2 {
  color: blueviolet;
}

.button_add {
  width: 80px;
  height: 35px;
  border-radius: 1em;
  background-color: blanchedalmond;
  
}